<div class="container">
  <h1>My Tasks</h1>

  <% @tasks.each do |task| %>
    <% if task.completed == false %>
      <p class="px-3"><i class="fa-regular fa-square"></i><%= link_to task.title, task_path(task) %></p>
    <% else %>
      <p class="px-3"><i class="fa-regular fa-square-check"></i><%= link_to task.title, task_path(task) %></p>
    <% end %>
  <% end %>
  <button class="rounded"><%= link_to "Add a new task", new_task_path %></button>
</div>
